.ssh/
.idea/
.venv/
**/__pycache__
/*.exe
backup/TSL-SYSTEM-BACKUP-FILES/*.tar.gz
Temp/*.gz
Temp/*.zip
Temp/logs/*.log
Temp/*.bat
Temp/*.sh
Temp/*.txt
Temp/test_*.py
Temp/PwdUser
tools/StudentsInfoDatabase/Datas.xls
tools/Translate/Speech_EN/
tools/Translate/Speech_US/
tools/Translate/dict.txt
tools/Psychology/tarot/cards/
