cython 
cachetools
setuptools
colorama 
uuid 
termcolor 
loguru 
wget 
prettytable 
pymysql 
file-read-backwards 
lxml 
translate 
sympy 
numpy 
scipy 
py3langid 
xlrd 
xlwt 
playsound==1.2.2 
pygobject 
fake-useragent 
tqdm