pymysql
setuptools
wget
win32
win32api
win32con
cachetools
termcolor
loguru
colorama
file-read-backwards
numpy
scipy
translate
sympy
py3langid
xlrd
xlwt
uuid
cmake
cython
requests
urllib3
playsound
fake_useragent
prettytable
tqdm